.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
}

/* kFCHyX */
.layout-nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}

.layout-nav .logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.layout-nav .logo a {
  color: var(--green);
  width: 42px;
  height: 42px;
}

#logo {
  color: var(--green);
}

.layout-nav .logo a svg {
  fill: none;
  transition: var(--transition);
  user-select: none;
}

.layout-nav-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.layout-nav-box ol {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.layout-nav-box ol li {
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
}

.layout-nav-box ol li:hover {
  color: var(--green);
}

.layout-nav-box ol li a {
  padding: 10px;
}

.layout-nav-box ol li a::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--green);
  font-size: var(--fz-xxs);
  text-align: right;
}

.layout-nav-box .resume-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fz-xs);
}

.layout-nav-box .resume-button:hover {
  background-color: var(--green-tint);
}

/* .dAwNpJ */
.layout-nav-menu {
  display: none;
}

/* .eCxtrN */
.layout-nav-menu .menu-button {
  display: none;
}

.menu-button .ham-box {
  display: inline-block;
  position: relative;
  width: var(--hamburger-width);
  height: 24px;
}

.menu-button .ham-box-inner {
  position: absolute;
  top: 50%;
  right: 0px;
  width: var(--hamburger-width);
  height: 2px;
  border-radius: var(--border-radius);
  background-color: var(--green);
  transition-duration: 0.22s;
  transition-property: transform;
  transition-delay: 0s;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.menu-button .ham-box-inner::before {
  width: 120%;
  top: -10px;
  opacity: 1;
  transition: var(--ham-before);
}

.menu-button .ham-box-inner::after {
  width: 80%;
  bottom: -10px;
  transform: rotate(0deg);
  transition: var(--ham-after);
}

.menu-button .ham-box-inner::before,
.menu-button .ham-box-inner::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  width: var(--hamburger-width);
  height: 2px;
  border-radius: 4px;
  background-color: var(--green);
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

/* hOvuuP */
.layout-left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
}

/* dVLQAC */
.layout-left-item {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.layout-left-item li:last-of-type {
  margin-bottom: 20px;
}

.layout-left-item li a {
  padding: 10px;
}

.layout-left-item li a svg {
  width: 20px;
  height: 20px;
}

.layout-left-item li a svg:hover {
  stroke: var(--green);
}

.layout-left-item::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

/* .jSIwrL */
.layout-right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--light-slate);
}

/* .jJFfEJ */
.layout-right-item {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.layout-right-item a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.layout-right-item a:hover {
  color: var(--green);
}

.layout-right-item::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

/* responsive design */

@media (max-width: 1080px) {
  .layout-header {
    padding: 0px 40px;
  }

  .layout-left {
    left: 20px;
    right: auto;
  }

  .layout-right {
    left: auto;
    right: 20px;
  }
}

@media (max-width: 720px) {
  .layout-header {
    padding: 0px 25px;
  }

  .layout-nav-box {
    display: none;
  }

  .layout-nav-menu {
    display: block;
  }

  .layout-nav-menu .menu-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }

  .layout-left {
    display: none;
  }

  .layout-right {
    display: none;
  }
}
